name: CI Web
permissions:
  contents: read

on:
  workflow_dispatch:
  push:
    paths:
      - 'apps/web/**'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: apps/web
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: apps/web/package-lock.json
      - name: Install
        run: npm ci
      - name: Type-check
        run: npm run type-check
      - name: Lint
        run: npm run lint
      - name: Build
        run: npm run build
      - name: Test with coverage
        run: npm run test -- --coverage
