name: Automatic Dependency Submission (Python)

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: write

jobs:
  submit-pypi:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Submit Dependency Snapshot
        uses: actions/python-dependency-submission@v1
        with:
          python-version: '3.11'
