name: Docker Images CI

on:
  push:
    branches: [ main, 'fix/**', 'feat/**' ]
  pull_request:
    branches: [ main ]

jobs:
  validate-secrets:
    uses: ./.github/workflows/reusable-secret-check.yml
    with:
      secret_names: 'DOCKER_USERNAME,DOCKER_PASSWORD,ACR_LOGIN_SERVER,ACR_USERNAME,ACR_PASSWORD,AZURE_WEBAPP_PUBLISH_PROFILE'
    secrets: inherit

  build-and-push-dockerhub:
    needs: validate-secrets
    if: github.event_name != 'pull_request' && fromJSON(needs.validate-secrets.outputs.all_secrets_present)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/abaco-loans-analytics:${{ github.sha }}

  build-and-push-acr:
    needs: validate-secrets
    if: github.event_name != 'pull_request' && fromJSON(needs.validate-secrets.outputs.all_secrets_present)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}
      - run: |
          docker build . -t ${{ secrets.ACR_LOGIN_SERVER }}/abaco-loans-analytics:${{ github.sha }}
          docker push ${{ secrets.ACR_LOGIN_SERVER }}/abaco-loans-analytics:${{ github.sha }}

  deploy-to-app-service:
    needs: [build-and-push-acr, validate-secrets]
    if: fromJSON(needs.validate-secrets.outputs.all_secrets_present)
    runs-on: ubuntu-latest
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    steps:
      - id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'abaco-analytics-dashboard-gbbjege0gxcbhyg9'
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          images: '${{ secrets.ACR_LOGIN_SERVER }}/abaco-loans-analytics:${{ github.sha }}'
