name: SonarCloud
on:
  pull_request:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read
  security-events: write

jobs:
  sonarcloud:
    uses: ./.github/workflows/pr-assignee-check.yml
    with:
      run-sonar: true
